@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
    4. Media
 /////////////////////////////////////////////////////////////////////////*/

.dev {
    border: 1px dashed red!important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*////////////////////////
    1. Global Styles
////////////////////////*/
:root {
    --color-gray: #899CA0;
    --color-dark-green: #1C2B32;
}
.btn-primary {
    font-size: 10px;
    color:#FFF;
    background-color: var(--color-dark-green);
    border: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: "Poppins", sans-serif;
}
p {
    /* voor mobiel */
    font-size: 8px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
    font-weight: 300;
}
a {
    color: var(--color-gray);
}
a:hover {
    text-decoration: none;
}
li {
    font-size: 8px;
    margin-left: 12px;
}
.btn {
    font-size: 9px;
    color: #FFF;
    background-color: var(--color-dark-green);
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--color-dark-green);
    border-radius: 10px;
}
.btn:hover {
    cursor: pointer;
}
input {
    font-size: 9px;
}
details p {
    font-size: 8px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--color-gray);
    border-radius: 5px;
}
summary {
    font-size: 8px;
    margin-bottom: 8px;
}
summary:hover {
    cursor: pointer;
}

    /*////////////////////////
        3. Areas
    ////////////////////////*/
/*///////////// 3.1 Header /////////////*/
.header-image {
    background-image: url("../assets/images/mountains.jpg");
    background-position: center;
    background-size: cover;
}
.header-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-evenly;
    max-width: 1000px;
    height: 135px;
    margin: 0 auto;
}
.header-section > div {
    text-align: center;
}
.form-domain-check {
    margin-top: 25px;
}
.form-domain-check input {
    border: 1px solid var(--color-dark-green);
    border-radius: 15px 0 0 15px;
    height: 25px;
    margin: 0;
    padding: 0 0 0 5px;
    vertical-align: top;
    outline: none;
}
.btn-domain-check {
    /*border: 1px solid var(--color-dark-green);*/
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    height: 25px;
    margin: 0 0 0 -5px;
    padding: 0 5px 0 5px;
    vertical-align: top;
}
.btn-domain-check:hover {
    cursor: pointer
}

/*///////////// 3.2 Testimonial /////////////*/
.testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-evenly;
    margin: 0 auto;
}
.testimonial-title {
    text-align: center;
    padding: 25px 0 25px 0;
}
.testimonial-block {
    margin: 0 10px 20px 10px;
    padding: 10px 10px;
    max-width: 478px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px white,
    0.3em 0.3em 1em #899CA0;
}
.icon-quote {
    width: 10px;
    margin-right: 5px;
}
.testimonial-person {
   /* max-height: 45px;*/
}
.testimonial-person-block {
    display: inline-block;
    /*max-height: 45px;*/
}
.testimonial-avatar {
    /*height: 100%;
    width: auto;*/
}

/*///////////// 3.3 Support /////////////*/
.support {
    max-width: 500px;
    margin: 0 auto;
}
.support-title {
    text-align: center;
    padding: 25px 0 25px 0;
}
.support-block {
    margin: 0 10px 20px 10px;
    max-width: 478px;
    border-radius: 5px;
}
.support-image {
    width: 100%;
    border-radius: 5px;
}
figcaption {
    font-size: 0.4em;
    margin-bottom: 10px;
}

/*///////////// 3.4 Faq /////////////*/
.faq {
    max-width: 500px;
    margin: 0 auto;
}
.faq-title {
    text-align: center;
    padding: 25px 0 25px 0;
}
.faq-block {
    margin: 0 10px 20px 10px;
    max-width: 478px;
    border-radius: 5px;
}

/*///////////// 3.5 Footer /////////////*/
.copy-right {
    text-align: center;
    padding: 7px 0;
    color: #FFF;
    background-color: var(--color-dark-green);
}

/*////////////////////////
    4. Media
////////////////////////*/
@media screen and (min-width: 900px) {
    /* voor tablets */
    p {
        font-size: 0.6em;
    }
    h2 {
        font-size: 1.2em;
    }
    h6{
        font-size: 0.6em;
    }
    li {
        font-size: 0.6em;
    }
    summary {
        font-size: 0.6em;
    }
    .header-section {
        height: 210px;
    }
    .header-title h1 {
        font-size: 2.8em;
    }
    .header-sub-title h2 {
        font-size: 0.6em;
    }
    .form-domain-check input {
        padding: 0 60px 0 20px;
    }
    .btn-domain-check {
        padding: 0 20px 0 20px;
    }
    .testimonials{
        max-width: 500px;
    }
    .testimonial-block {
        padding: 10px 50px;
    }
    .testimonial-avatar {
        width: 60px;
        height: auto;
    }
    .support {
        max-width: 500px;
        height: 322px;
    }
    figcaption {
        font-size: 0.5em;
    }
    .faq {

    }
    details p {
        padding: 15px;
    }
}

@media screen and (min-width: 1200px) {
    /* voor desktops en groter */

}